#navbarNav {
  justify-content: center;
  align-items: center;
}
#navbarNav ul a {
  align-items: center;
}
#navbarNav ul li {
  margin: 0 30px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand .rocket {
  font-size: 40px;
  color: blueviolet;
  margin-left: 20px;
}
.navbar-brand span {
  color: blueviolet;
  font-weight: 600;
  margin-left: 7%;
}
